body
{
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	font-weight: normal;
	font-size: 0.9em;
}

/* Retina displays */
@media (-webkit-min-device-pixel-ratio: 2)
{
	html
	{
		font-size: 2em;
	}
}

/* Mindestens iPad und Desktop */
@media screen and (min-device-width: 768px)
{
	h1, h2, h3
	{
		font-weight: 100;
	}
}

a:link
{
	color: #444;
}

a:visited
{
	color: #666;
}

block, menu, content, header, footer
{
	display: block;
	padding: 1em;
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
	background-color: #fff;
}

menu > ul, block > ul
{
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-right: 1em;
	list-style: none;
	font-size: 32px;
}

menu > ul li, block > ul li
{
	padding: 0;
}

menu > ul li a
{
	vertical-align: middle;
}

menu > ul li img
{
	vertical-align: middle;
	padding-right: 5px;
	width:  48px;
	height: 48px;
}

header h1
{
	margin-top: 0;
	margin-bottom: 0;
}

h1,h2,h3
{
	margin-top:    0.1em;
	margin-bottom: 0.2em;
}

toc entry
{
	display: block;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
}

date
{
	font-style: italic;
	margin-right: 0.5em;
}

content img
{
	margin: 0 0.5em 0.5em 0;
	float: left;
	height: 6.5em;
}

content p:first-child
{
	margin-top: 0;
}

content p
{
	margin: 1em 0 0 0;
	overflow: hidden;
}

footer
{
	font-style: italic;
	clear: both;
}

tag-cloud {
	text-align: center;	
}

clear
{
	display: block;
	clear: both;
}

size1,size2,size3,size4,size5,size6,size7,tag
{
	display: inline-block;
}

size1
{
	font-size: 0.7em;
	display: none;
}

size2
{
	font-size: 0.8em;
}

size3
{
	font-size: 0.9em;
}

size4
{
	font-size: 1.0em;
}

size5
{
	font-size: 1.1em;
}

size6
{
	font-size: 1.2em;
}

size7
{
	font-size: 1.4em;
}

@media only screen and (min-device-width: 320px)
{
	mobile-ad
	{
		display: none;
	}
}

@media only screen and (max-device-width: 319px)
{
	horizontal-ad
	{
		display: none;
	}

	mobile-ad
	{
		width: auto;
	}

	body
	{
		font-size: 22pt;
	}
}

@media only screen and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2)
{
	tag-cloud
	{
		display: none;
	}
}

@media only screen and (max-width: 1024px)
{
	size1,size2,size3
	{
		display: none;
	}
}

@media screen and (max-width: 1279px)
{
	header h1,h2,h3,menu h1,h2,h3
	{
		margin-top: 0;
	}

	vertical-ad
	{
		display: none;
	}

	menu, content
	{
		margin: 0;
		width: auto;
		float: none;
		display: block;
	}

	content
	{
		margin-top: 1em;
	}

	menu > ul li
	{
		display: inline-block;
	}
}

@media screen and (min-width: 1280px)
{
	header,footer
	{
		padding-left: 26em;
	}

	menu
	{
		float: left;
		margin-top: 0;
		margin-right: 1em;
		width: 23em;
	}

	menu > ul li
	{
		display: block;
	}

	content
	{
		display: block;
		margin-top: 0;
		margin-right: 170px;
		margin-left: 26em;
		margin-bottom: 1em;
	}

	vertical-ad
	{
		margin-top: 0;
		margin-left: 1em;
		float: right;
		width: 160px;
	}
}

@media screen and (max-width: 320px)
{
	menu > ul li
	{
		display: block;
	}
}

@media print
{
	menu, vertical-ad, toc, object
	{
		display: none
	}
	
	content
	{
		margin-top: 0;
	}
}
